<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.pharsh.sms_user_consent">
  <application>
 
         <receiver
             android:name=".SmsUserConsentPlugin"
             android:enabled="true"
             android:exported="true"
             tools:ignore="Instantiatable">
            
        </receiver>
        
    </application>
</manifest>
